<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<a href="main.html" class="logo">Easy <span class="logo__accent">leads</span></a>

				<div class="lang">
					<div class="lang__def js-lang-def" data-label="Russian"><img src="img/flag-ru.jpg" alt="" class="lang__icon js-lang-icon"></div>

					<div class="lang__list js-lang-list">
						<div class="lang__item inactive js-lang-item" data-label="Russian"><img src="img/flag-ru.jpg" alt="" class="lang__icon js-lang-icon"><span class="lang__label">Russian</span></div>

						<div class="lang__item js-lang-item" data-label="English"><img src="img/flag-en.jpg" alt="" class="lang__icon js-lang-icon"><span class="lang__label">English</span></div>
					</div>
				</div>

				<div class="social">
					<a href="#" class="social__item social__item_fb"></a>
					<a href="#" class="social__item social__item_vk"></a>
					<a href="#" class="social__item social__item_tg"></a>
					<a href="#" class="social__item social__item_in"></a>
				</div>

				<div class="footer__company">Cервис по приему платежей с карт – ePayments Merchant Services Limited</div>

				<div class="footer__copyright">Copyright © 2018. All rights reserved.</div>
			</div>

			<div class="col-3">
				<div class="footer__head">EASY LEADS</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">Основное</a></li>
					<li class="footer-menu__item"><a href="#">Блогерам</a></li>
					<li class="footer-menu__item"><a href="#">Рекламодателям</a></li>
					<li class="footer-menu__item"><a href="#">Цены</a></li>
					<li class="footer-menu__item"><a href="#">FAQ</a></li>
				</ul>
			</div>

			<div class="col-3">
				<div class="footer__head">Компания</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">О нас</a></li>
					<li class="footer-menu__item"><a href="#">Политика конфиденциальности</a></li>
					<li class="footer-menu__item"><a href="#">Условия и положения</a></li>
					<li class="footer-menu__item"><a href="#">Политика Cookies</a></li>
				</ul>
			</div>

			<div class="col-3">
				<div class="footer__head">Get Started</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">Вход</a></li>
					<li class="footer-menu__item"><a href="#">Регистрация</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>