<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<a href="main.html" class="logo">Easy <span class="logo__accent">leads</span></a>

				<div class="lang">
					<div class="lang__def js-lang-def" data-label="Russian"><img src="img/flag-ru.jpg" alt="" class="lang__icon js-lang-icon"></div>

					<div class="lang__list js-lang-list">
						<div class="lang__item inactive js-lang-item" data-label="Russian"><img src="img/flag-ru.jpg" alt="" class="lang__icon js-lang-icon"><span class="lang__label">Russian</span></div>

						<div class="lang__item js-lang-item" data-label="English"><img src="img/flag-en.jpg" alt="" class="lang__icon js-lang-icon"><span class="lang__label">English</span></div>
					</div>
				</div>

				<div class="social">
					<a href="#" class="social__item social__item_fb"></a>
					<a href="#" class="social__item social__item_vk"></a>
					<a href="#" class="social__item social__item_tg"></a>
					<a href="#" class="social__item social__item_in"></a>
				</div>

				<div class="footer__company">Cервис по приему платежей с карт – ePayments Merchant Services Limited</div>

				<div class="footer__copyright">Copyright © 2018. All rights reserved.</div>
			</div>

			<div class="col-3">
				<div class="footer__head">EASY LEADS</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">Основное</a></li>
					<li class="footer-menu__item"><a href="#">Блогерам</a></li>
					<li class="footer-menu__item"><a href="#">Рекламодателям</a></li>
					<li class="footer-menu__item"><a href="#">Цены</a></li>
					<li class="footer-menu__item"><a href="#">FAQ</a></li>
				</ul>
			</div>

			<div class="col-3">
				<div class="footer__head">Компания</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">О нас</a></li>
					<li class="footer-menu__item"><a href="#">Политика конфиденциальности</a></li>
					<li class="footer-menu__item"><a href="#">Условия и положения</a></li>
					<li class="footer-menu__item"><a href="#">Политика Cookies</a></li>
				</ul>
			</div>

			<div class="col-3">
				<div class="footer__head">Get Started</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">Вход</a></li>
					<li class="footer-menu__item"><a href="#">Регистрация</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Форма авторизации -->
<div id="auth" class="popup">
	<div class="h3">Авторизация</div>

	<div class="form-auth">
		<form>
			<div class="form-site">
				<div class="form-site__content">
					<div class="form-site__field"><input type="email", placeholder="Email"></div>
					<div class="form-site__field"><input type="password", placeholder="Пароль"></div>
				</div>

				<div class="form-site__btn">
					<input type="submit" value="Войти" class="btn">
					<a href="#" class="form-site__forget">Забыли пароль?</a>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Форма регистрации -->
<div  id="registr" class="popup">
	<div class="h3">Регистрация</div>

	<div class="form-registr">
		<div class="tabs-page js-tabs-page">
			<ul class="tabs-page__list js-tabs-page-list">
				<li class="tabs-page__item js-tabs-page-item" data-item="registr-tab1">Блогер</li>
				<li class="tabs-page__item js-tabs-page-item" data-item="registr-tab2">Рекламодатель</li>
			</ul>

			<div class="tabs-page__content js-tabs-page-content">
				<div id="registr-tab1" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
					<form>
						<div class="form-site">
							<div class="form-site__content">
								<div class="form-site__field"><input type="text", placeholder="+7 (800) __-__-___" class="js-phone"></div>
								<div class="form-site__field"><input type="email", placeholder="Email"></div>
								<div class="form-site__field"><input type="password", placeholder="Пароль"></div>
							</div>

							<div class="form-site__polit">
								<div class="input-check">
									<input type="checkbox" id="polit" checked="checked">
									<label for="polit" class="input-check__label"><span class="input-check__mark"></span><span class="input-check__text">Я согласен с <a href="#">Политикой конфиденциальности</a></span></label>
								</div>
							</div>

							<div class="form-site__btn">
								<input type="submit" value="Зарегистрироваться" class="btn">
							</div>
						</div>
					</form>
				</div>

				<div id="registr-tab2" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
					<form>
						<div class="form-site">
							<div class="form-site__content">
								<div class="form-site__field"><input type="text", placeholder="+7 (800) __-__-___" class="js-phone"></div>
								<div class="form-site__field"><input type="text", placeholder="Test"></div>
								<div class="form-site__field"><input type="email", placeholder="Email"></div>
								<div class="form-site__field"><input type="password", placeholder="Пароль"></div>
							</div>

							<div class="form-site__polit">
								<div class="input-check">
									<input type="checkbox" id="polit" checked="checked">
									<label for="polit" class="input-check__label"><span class="input-check__mark"></span><span class="input-check__text">Я согласен с <a href="#">Политикой конфиденциальности</a></span></label>
								</div>
							</div>

							<div class="form-site__btn">
								<input type="submit" value="Зарегистрироваться" class="btn">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>