/*-------------- partner -----------------*/
.partner-wrap{
	margin-top: 54px;

	&__text{
		max-width: 770px;
		@include font(normal, normal, 1rem, 1.625, $color-grey);
		text-align: center;
		margin: 0 auto 40px;
	}

	.btn{
		display: table;
		margin: 0 auto;
	}

	.btn+.partner-list{margin-top: 60px;}
}

.partner-list{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -15px;

	&__item{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		vertical-align: top;
		width: 170px;
		height: 80px;
		margin: 0 15px 15px;
	}

	&__content{
		position: relative;
		text-decoration: none;
	}

	&__icon-color{
		max-width: 100%;
		opacity: 0;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: all 0.3s ease 0s;
	}

	&__content:hover &__icon-color{opacity: 1;}
}