/*-------------- steps -----------------*/
.step-wrap{
	margin-top: 67px;

	&__text{
		@include font(normal, normal, 1rem, 1.625, $color-grey);
		text-align: center;
		margin-bottom: 61px;
	}

	& + .info-block-wrap{margin-top: 42px;}
}

.step-item-wrap{
	margin-bottom: 52px;

	&:nth-child(3n+2) .step-item{
		&__icon::before{
			transform: perspective(400px) rotateY(-30deg);
			left: -11px;
		}

		&__num{
			top: 3px;
			left: -37px;
		}
	}

	&:nth-child(3) .step-item__num{
		top: -63px;
		left: auto;
		right: -23px
	}

	&:nth-child(4) .step-item__num{
		top: -54px;
		left: auto;
		right: -19px
	}

	&:nth-child(6) .step-item__num{
		top: auto;
		bottom: -30px;
		left: auto;
		right: -40px
	}
}

.step-item{
	&__num{
		@include font(normal, 900, 5rem, 1.2, $color-yellow);
		position: absolute;
		top: -47px;
		left: -20px;
		z-index: 1;
	}

	&__img{
		text-align: center;
	}

	&__icon{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100px;
		height: 98px;
	}

	&__icon::before{
		content: '';
		display: inline-block;
		width: calc(100% + 15px);
		height: 100%;
		background: #fff;
		border-radius: 15px;
		box-shadow: 0px 26px 26px 0px rgba(0,0,0,0.04);
		position: absolute;
		top: 0;
		left: -4px;
		transform: perspective(400px) rotateY(30deg);
		z-index: 2;
	}

	&__icon-content{
		position: relative;
		z-index: 2;
	}

	&__info{
		margin-top: 37px;
		text-align: center;
	}

	&__head{
		@include font(normal, bold, 1.25rem, 1.2, $color-text);
	}

	&__text{
		max-width: 310px;
		@include font(normal, normal, 1rem, 1.625, $color-grey);
		margin: 10px auto 0;
	}
}

@media (max-width: 767px) {
	.step-wrap{
		margin-top: 64px;

		&__text{
			line-height: 1.5;
			margin-bottom: 30px;
		}
	}

	.step-item-wrap{
		margin-bottom: 20px;

		&:nth-child(3n+2) .step-item__num{
			top: 6px;
			left: -24px;
		}

		&:nth-child(3) .step-item__num{
			top: -37px;
			right: -17px;
		}

		&:nth-child(4) .step-item__num{
			top: -33px;
			right: -15px;
		}

		&:nth-child(6) .step-item__num{
			bottom: -23px;
			right: -25px;
		}
	}

	.step-item{
		display: flex;
		justify-content: space-between;

		&__img{
			width: 96px;
			padding-left: 8px;
		}

		&__info{
			width: calc(100% - 108px);
			text-align: left;
			margin-top: 0;
		}

		&__icon{
			width: 65px;
			height: 64px;
		}

		&__icon-content{width: 33px;}

		&__num{
			font-size: 3.25rem;
			top: -27px;
			left: -12px;
		}

		&__head{font-size: 1.125rem;}

		&__text{
			max-width: 100%;
			font-size: 0.875rem;
			line-height: 1.57;
			margin-top: 7px;
		}
	}
}