/*-------------- success -----------------*/
.success{
	display: flex;
	flex-wrap: wrap;
	margin: -125px -15px 0;

	&__item{
		width: calc(33.33% - 30px);
		height: 100%;
		padding: 30px 7px 10px 40px;
		position: relative;
		margin: 0 15px 30px;
	}

	&__item::before{
		content: '';
		display: inline-block;
		width: calc(100% + 4px);
		height: calc(100% - 32px);
		background: #fff;
		border-radius: 15px;
		box-shadow: 0px 26px 26px 0px rgba(0,0,0,0.04);
		position: absolute;
		top: 10px;
		left: 14px;
		transform: perspective(400px) rotateY(10deg)
	}

	&__item:nth-child(even)::before{
		transform: perspective(400px) rotateY(-10deg);
		left: -14px
	}

	&__content{
		display: flex;
		position: relative;
	}

	&__img{width: 128px;}
	&__main{width: calc(100% - 128px);}

	&__num{
		@include font(normal, 900, 3.75rem, 1.2, $color-text);
	}

	&__num-label{font-size: 1.875rem;}

	&__text{
		@include font(normal, normal, 1rem, 1.2, $color-grey);
	}

	&__icon{padding-top: 15px;}
}

@media (max-width: 1279px) {
	.success{
		&__num{font-size: 3rem;}
		&__icon{width: 80px}
		&__main{width: calc(100% - 80px);}
		&__item{padding: 20px 7px 30px 30px;}
		&__item::before{left: 7px;}
	}
}

@media (max-width: 991px) {
	.success{
		margin-top: 20px;

		&__num{font-size: 2rem;}
		&__num-label{font-size: 1.25rem;}
	}
}

@media (max-width: 767px) {
	.success{
		display: block;
		margin-top: -85px;

		&__item{
			width: calc(100% - 30px);
			padding: 20px 7px 2px 20px;
			margin-bottom: -25px;
		}

		&__num{font-size: 2.875rem;}
		&__num-label{font-size: 1.375rem;}
		&__icon{width: 105px}
		&__main{width: calc(100% - 105px);}
	}
}