/*-------------- top-block -----------------*/
.top-block{
	margin-top: -93px;
	padding-top: 90px;
	overflow: hidden;

	&__content{
		margin-top: 120px;
	}

	&__head{
		@include font(normal, 900, 2.875rem, 1.13, $color-text);
		text-transform: uppercase;
		margin-bottom: 1px;
	}

	&__slogan{
		color: $color-yellow;
		text-decoration: underline;
	}

	&__slogan-content{
		@include font(normal, 300, 2.875rem, 1.13, $color-text);
		text-decoration: none;
	}

	&__slogan_small &__slogan-content{
		font-size: 2.25rem;
		line-height: 1.28;
	}

	.btn{margin-top: 35px;}

	&__text{
		@include font(normal, normal, 1.125rem, 1.67, $color-grey);
		margin-top: 22px;
	}
}

.top-block-img{
	position: relative;
	max-height: 733px;

	// img{
	// 	position: relative;
	// 	z-index: 1;
	// }

	&::before{
		content: '';
		display: inline-block;
		width: 206px;
		height: 184px;
		background: url(#{$path-img}/insta.png) no-repeat center;
		position: absolute;
		top: 85px;
		left: -28px;
		z-index: 1;
	}

	&::after{
		content: '';
		display: inline-block;
		width: 237px;
		height: 152px;
		background: url(#{$path-img}/youtube.png) no-repeat center;
		position: absolute;
		bottom: 240px;
		right: -35px;
		z-index: 1;
	}

	&__bg{
		position: absolute;
		left: 0;
		bottom: 0;
		max-width: none;
	}

	&__content{
		position: relative;

		img{max-height: 100%;}
	}
}