/*-------------- Header -----------------*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 100;

	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;
		transition: all 0.3s ease 0s;
	}

	&__main{
		display: flex;
		align-items: center;
	}

	&__logo{margin-right: 25px;}

	.lang{
		padding-left: 18px;
		margin-left: 17px;
		border-left: 1px solid rgba(0,0,0,0.1);

		&__list{left: 18px;}
	}

	&__auth{
		@include font(normal, bold, 0.8125rem, 1.2, $color-text);
		text-decoration: none;
		transition: all 0.3s ease 0s;
		margin-right: 26px;
	}

	&__auth:hover{color: $color-orange;}

	&.fixed{background: #fff;}
	&.fixed &__content{padding: 10px 0;}
	&.fixed .btn_white{background: #f5f5f5;}
	&.fixed .btn_white:hover{background: linear-gradient(to bottom, rgba(250,123,50,1) 0%, rgba(250,66,20,1) 100%);}
}

@media (max-width: 767px) {
	.header{
		&__content{padding: 6px 0;}

		&__logo{
			margin-left: 16px;
			margin-right: 0;
			position: relative;
			z-index: 101;
		}

		.lang{padding-left: 3px;}
		.lang__list{left: 3px;}
		&__auth{margin-right: 12px;}
	}
}