//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Panton', Arial, sans-serif;


// Site
$color-text: #000;
$color-grey: #757575;
$color-orange: #fa4214;
$color-yellow: #fad764;
