<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Рекламодателям</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="top-block">
					<div class="container">
						<div class="row">
							<div class="col-4">
								<div class="top-block__content">
									<div class="top-block__icons d-md-none"></div>

									<div class="top-block__info">
										<div class="top-block__slogan top-block__slogan_small"><span class="top-block__slogan-content">Продвигайте свои офферы вместе с блогерами</span></div>

										<div class="top-block__text">Запускайте рекламную кампанию в социальных сетях в несколько кликов.</div>

										<a data-fancybox data-src="#registr" href="javascript:;" class="btn">Регистрация</a>
									</div>
								</div>
							</div>

							<div class="col-8">
								<div class="top-block-img">
									<img src="img/bg-page-top-grey.png" alt="" class="top-block-img__bg">

									<div class="top-block-img__content">
										<img src="img/man.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="info-block-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="info-block">
									<div class="info-block__item">
										<div class="info-block__img"><img src="img/graph.png" alt=""></div>

										<div class="info-block__content">
											<div class="info-block__head"><span class="line-text"><span>Ежедневно</span></span> в нашей сети регистрируется все больше блогеров со всего мира</div>
											<div class="info-block__text">Мы получаем все данные автоматически через API и обладаем максимально точными данными об аудитории каждого блогера.</div>
										</div>
									</div>

									<div class="info-block__item">
										<div class="info-block__img"><img src="img/profile.png" alt=""></div>

										<div class="info-block__content">
											<div class="info-block__head">Простая регистрация и доступ к <span class="line-text"><span>5000+ блогерам</span></span></div>
											<div class="info-block__text">Регистрация в сервисе бесплатна. Сразу же после регистрации, с вами свяжется ваш личный менеджер, который будет вести ваш проект.</div>
										</div>
									</div>

									<div class="info-block__item">
										<div class="info-block__img"><img src="img/app.png" alt=""></div>

										<div class="info-block__content">
											<div class="info-block__head"><span class="line-text"><span>Создавайте</span></span> публичные или приватные предложения</div>
											<div class="info-block__text">Вы можете создавать публичные предложения для рекламы вашего бренда или товара, которые будут доступны всем пользователям в платформе.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="advant-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Преимущества</div>

								<div class="advant-wrap__text">Размещайте свою рекламу в социальных сетях блогера и достигайте максимальной выгоды.</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant1.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Безопасные сделки</div>
										<div class="advant-item__text">Мы замораживаем деньги блогеру до тех пор, пока вы не подтвердите конверсии</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant6.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Приватные предложения</div>
										<div class="advant-item__text">Вы можете создать скрытое для видимости предложение, в которое пригласите только интересующих вас блогеров</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant3.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Метрики</div>
										<div class="advant-item__text">Отдельная страница с полной статистикой по вашему офферу</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="partner-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Продвигайте свой бренд в социальные сети</div>

								<div class="partner-wrap__text">Регистрируйтесь в Easy Leads, заполняйте детали публичной сделки, и она сразу будет доступна всем нашим блогерам.</div>

								<a data-fancybox data-src="#registr" href="javascript:;" class="btn">Регистрация</a>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
