<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Блогерам</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="top-block">
					<div class="container">
						<div class="row">
							<div class="col-4">
								<div class="top-block__content">
									<div class="top-block__slogan top-block__slogan_small"><span class="top-block__slogan-content">Мы автоматизируем процесс работы блоггеров с рекламодателями.</span></div>

									<div class="top-block__text">У нас вы найдете много интересных предложений от рекламодателей и сможете зарабатывать на рекламе их офферов у себя в соцсетях.</div>

									<a data-fancybox data-src="#registr" href="javascript:;" class="btn">Регистрация</a>
								</div>
							</div>

							<div class="col-8">
								<div class="top-block-img">
									<img src="img/bg-page-top-grey.png" alt="" class="top-block-img__bg">

									<div class="top-block-img__content">
										<img src="img/woman.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="info-block-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="info-block">
									<div class="info-block__item">
										<div class="info-block__img"><img src="img/money.png" alt=""></div>

										<div class="info-block__content">
											<div class="info-block__head">Мы помогаем блогерам <span class="line-text"><span>зарабатывать больше</span></span></div>
											<div class="info-block__text">После бесплатной регистрации в <span style="color: #000;">Easy Leads</span> c помощью своих соцсетей, вам открывается доступ к офферам со всего мира. Вы можете откликаться на понравившиеся офферы, а также вас могут пригласить в закрытые офферы.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="step-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2"><span class="line-text"><span>6 шагов</span></span> для успешного кейса</div>

								<div class="step-wrap__text">Для того чтобы начать получать выгоду нужно сделать несколько простых действий.</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="step-item-wrap col-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">1</div>
											<div class="step-item__icon-content">
												<img src="img/step1.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Регистрация</div>
										<div class="step-item__text">Простая регистрация</div>
									</div>
								</div>
							</div>

							<div class="step-item-wrap col-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">2</div>
											<div class="step-item__icon-content">
												<img src="img/step2.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Выбор оффера</div>
										<div class="step-item__text">Выбор оффера, который лучше всего подходит вашей целевой аудитории</div>
									</div>
								</div>
							</div>

							<div class="step-item-wrap col-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">3</div>
											<div class="step-item__icon-content">
												<img src="img/ic-comment.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Согласование промо</div>
										<div class="step-item__text">Работа над промо и согласование его с личным менеджером</div>
									</div>
								</div>
							</div>

							<div class="step-item-wrap col-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">4</div>
											<div class="step-item__icon-content">
												<img src="img/step4.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Публикация</div>
										<div class="step-item__text">Публикация вашего промо, в ваших социальных сетях</div>
									</div>
								</div>
							</div>

							<div class="step-item-wrap col-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">5</div>
											<div class="step-item__icon-content">
												<img src="img/step5.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Результат</div>
										<div class="step-item__text">В реальном времени наблюдайте за статистикой своего заработка</div>
									</div>
								</div>
							</div>

							<div class="step-item-wrap col-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">6</div>
											<div class="step-item__icon-content">
												<img src="img/step3.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Выплата</div>
										<div class="step-item__text">Вывод заработанных денежных средств в любой удобной для вас валюте</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="info-block-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="info-block info-block_reverse">
									<div class="info-block__item">
										<div class="info-block__img"><img src="img/app2.png" alt=""></div>

										<div class="info-block__content">
											<div class="info-block__head"><span class="line-text"><span>Моментальный доступ</span></span> к рекламным предложениям</div>
											<div class="info-block__text">
												<p>После регистрации вам открывается доступ к большому количеству офферов от различных рекламодателей, любой из которых вы можете выбрать самостоятельно.</p>

												<p>Также у нас есть приватные офферы, которые доступным только для отдельных блогеров.</p>
											</div>
										</div>
									</div>

									<div class="info-block__item">
										<div class="info-block__img"><img src="img/salary.png" alt=""></div>

										<div class="info-block__content">
											<div class="info-block__head">С нами <span class="line-text"><span>зарабатывать легко и просто</span></span></div>
											<div class="info-block__text">Вы начинаете свой заработок сразу же после публикации своего промо у себя в социальных сетях. После чего в своем личном кабинете вы можете заказать моментальную выплату, с помощью десятков способов: банковские переводы по номеру карты или счета, через криптовалюты Bitcoin и Etherum, а также стандартными методами: PayPal, Yandex Money, QIWI, ePayments etc.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="advant-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Преимущества</div>

								<div class="advant-wrap__text">Найти рекламодателя для своих социальных сетей с нами можно за пару кликов!</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="advant-item-wrap col-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant7.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Заморозка денежных средств</div>
										<div class="advant-item__text">Мы выступаем гарантом в сделке между блогером и рекламодателем</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant2.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Поддержка</div>
										<div class="advant-item__text">Наша команда готова ответить на ваши вопросы и помочь в сложной ситуации 24/7</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant8.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Система уведомлений</div>
										<div class="advant-item__text">Выберите, где хотите получать уведомления и важные для вас офферы не окажутся потерянными</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant6.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Приватные офферы</div>
										<div class="advant-item__text">Рекламодатель может создать как публичное, так и приватное предложение, доступное по приглашению</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant3.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Развернутая статистика</div>
										<div class="advant-item__text">Платформа предоставляет детальную статистику сделки, для оценки результата сотрудничества</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant4.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Вывод денежных средств</div>
										<div class="advant-item__text">Моментальный вывод денежных средств любым удобным способом</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="partner-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="partner-list">
									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner1.png" alt="" class="partner-list__icon-color">
											<img src="img/partner1-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner2.png" alt="" class="partner-list__icon-color">
											<img src="img/partner2-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner3.png" alt="" class="partner-list__icon-color">
											<img src="img/partner3-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner4.png" alt="" class="partner-list__icon-color">
											<img src="img/partner4-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner5.png" alt="" class="partner-list__icon-color">
											<img src="img/partner5-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner6.png" alt="" class="partner-list__icon-color">
											<img src="img/partner6-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="team-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Блогеры, которые работают с нами</div>
							</div>
						</div>
					</div>

					<div class="team-list">
						<div class="container">
							<div class="row">
								<div class="col-3">
									<div class="team-item">
										<div class="team-item__photo" style="background-image: url(img/user1.jpg);"></div>

										<div class="team-item__title"><span>WELOVEGAMES</span></div>

										<div class="team-item__text">Все документы хранятся внутри системы и доступны для выгрузки</div>

										<div class="team-item__bottom">
											<div class="team-item__label">Подписчики:</div>
											<div class="team-item__num">1, 096, 741</div>
										</div>
									</div>
								</div>

								<div class="col-3">
									<div class="team-item">
										<div class="team-item__photo" style="background-image: url(img/user2.jpg);"></div>

										<div class="team-item__title"><span>KARTER</span></div>

										<div class="team-item__text">Все документы хранятся внутри системы и доступны для выгрузки</div>

										<div class="team-item__bottom">
											<div class="team-item__label">Подписчики:</div>
											<div class="team-item__num">782, 300</div>
										</div>
									</div>
								</div>

								<div class="col-3">
									<div class="team-item">
										<div class="team-item__photo" style="background-image: url(img/user3.jpg);"></div>

										<div class="team-item__title"><span>PewDiePie</span></div>

										<div class="team-item__text">Все документы хранятся внутри системы и доступны для выгрузки</div>

										<div class="team-item__bottom">
											<div class="team-item__label">Подписчики:</div>
											<div class="team-item__num">6, 852</div>
										</div>
									</div>
								</div>

								<div class="col-3">
									<div class="team-item">
										<div class="team-item__photo" style="background-image: url(img/user4.jpg);"></div>

										<div class="team-item__title"><span>Drakess</span></div>

										<div class="team-item__text">Все документы хранятся внутри системы и доступны для выгрузки</div>

										<div class="team-item__bottom">
											<div class="team-item__label">Подписчики:</div>
											<div class="team-item__num">9, 999, 999</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="team-wrap__label">
									<div class="h2">Присоединяйтесь к <span class="t-color-orange">Easy Leads</span> и начинай зарабатывать прямо сейчас!</div>

									<a data-fancybox data-src="#registr" href="javascript:;" class="btn">Регистрация</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
