<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper wrapper_main">
			//= ../header/header.html
			<main>
				<div class="top-block">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-4">
								<div class="top-block__content">
									<div class="top-block__icons d-md-none"></div>

									<div class="top-block__info">
										<div class="top-block__head">Easy leads</div>

										<div class="top-block__slogan"><span class="top-block__slogan-content">покажет, как монетизировать твой контент</span></div>

										<a data-fancybox data-src="#registr" href="javascript:;" class="btn">Зарегистрироваться</a>
									</div>
								</div>
							</div>

							<div class="col-md-6 col-lg-8">
								<div class="top-block-img top-block-img_main">
									<img src="img/bg-page-top.png" alt="" class="top-block-img__bg">

									<div class="top-block-img__content">
										<img src="img/girls.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="success-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="success">
									<div class="success__item">
										<div class="success__content">
											<div class="success__main">
												<div class="success__num">148</div>
												<div class="success__text">Офферов в системе</div>
											</div>

											<div class="success__icon">
												<img src="img/ic-diamond.png" alt="">
											</div>
										</div>
									</div>
								
									<div class="success__item">
										<div class="success__content">
											<div class="success__main">
												<div class="success__num">3000+</div>
												<div class="success__text">Блогеров</div>
											</div>

											<div class="success__icon">
												<img src="img/ic-person.png" alt="">
											</div>
										</div>
									</div>
								
									<div class="success__item">
										<div class="success__content">
											<div class="success__main">
												<div class="success__num">570 <span class="success__num-label">млн.</span></div>
												<div class="success__text">Охват аудитории</div>
											</div>

											<div class="success__icon">
												<img src="img/ic-people.png" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="step-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Как это работает</div>

								<div class="step-wrap__text">Для того чтобы начать получать прибыль нужно сделать несколько простых действий.</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="step-item-wrap col-md-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">1</div>
											<div class="step-item__icon-content">
												<img src="img/step1.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Регистрируетесь</div>
										<div class="step-item__text">После регистрации вы получаете доступ к системе, где рекламодатель создаёт оффер, а блогер откликается на них</div>
									</div>
								</div>
							</div>

							<div class="step-item-wrap col-md-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">2</div>
											<div class="step-item__icon-content">
												<img src="img/step2.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Выбираете оффер</div>
										<div class="step-item__text">Из десятков уже готовых офферов выбираете, то которое больше подходит под вашу аудиторию</div>
									</div>
								</div>
							</div>

							<div class="step-item-wrap col-md-4">
								<div class="step-item">
									<div class="step-item__img">
										<div class="step-item__icon">
											<div class="step-item__num">3</div>
											<div class="step-item__icon-content">
												<img src="img/step3.png" alt="">
											</div>
										</div>
									</div>

									<div class="step-item__info">
										<div class="step-item__head">Получаете прибыли</div>
										<div class="step-item__text">После продвижения оффера на своей площадке, получайте свой заработок на любую удобную для вас платежную систему</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="geography">
					<div class="container">
						<div class="row">
							<div class="col-md-8 flex-last flex-md-first">
								<div class="geography__img">
									<img src="img/map.png" alt="">
								</div>
							</div>

							<div class="col-md-4">
								<div class="geography__content">
									<div class="geography__head">Мы работаем с блогерами <span class="line-text"><span>по всему миру</span></span></div>

									<div class="geography__text">Каждый день мы ищем новые офферы по всему миру, которые будут интересны блогерам, уже зарегистрировавшимся на нашей платформе.</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="advant-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">С нами удобно!</div>

								<div class="advant-wrap__text">Мы создаем платформу, в которой будет комфортно работать блогерам.</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant1.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Безопасность</div>
										<div class="advant-item__text">Мы следим за проведением сделок и отвечаем за соблюдения условий с обеих сторон</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant2.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Поддержка</div>
										<div class="advant-item__text">Мы предоставляем поддержку 24/7. В случае возникновения вопросов вы всегда можете задать их личному менеджеру</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant3.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Статистика</div>
										<div class="advant-item__text">Платформа предоставляет детальную статистику сделки, для оценки результата сотрудничества</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant4.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Оплата</div>
										<div class="advant-item__text">Система поддерживает автоматизированные выплаты, всё будет реализовано вовремя</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant5.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Фильтры</div>
										<div class="advant-item__text">Искать офферы удобно, настроив фильтр по нужным параметрам</div>
									</div>
								</div>
							</div>

							<div class="advant-item-wrap col-md-6 col-lg-4">
								<div class="advant-item">
									<div class="advant-item__icon">
											<div class="advant-item__icon-content">
												<img src="img/advant6.png" alt="">
											</div>
										</div>

									<div class="advant-item__info">
										<div class="advant-item__head">Приватные офферы</div>
										<div class="advant-item__text">Рекламодатель может создать как публичное, так и приватное предложение, доступное по приглашению</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="partner-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Многие уже работают с нами</div>

								<div class="partner-wrap__text">Присоединяйтесь к огромному числу блогеров, которые уже используют платформу Easy leads для заработка.</div>

								<a data-fancybox data-src="#registr" href="javascript:;" class="btn">Зарегистрироваться</a>

								<div class="partner-list js-partner-list">
									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner1.png" alt="" class="partner-list__icon-color">
											<img src="img/partner1-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner2.png" alt="" class="partner-list__icon-color">
											<img src="img/partner2-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner3.png" alt="" class="partner-list__icon-color">
											<img src="img/partner3-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner4.png" alt="" class="partner-list__icon-color">
											<img src="img/partner4-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner5.png" alt="" class="partner-list__icon-color">
											<img src="img/partner5-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>

									<div class="partner-list__item">
										<a href="#" class="partner-list__content">
											<img src="img/partner6.png" alt="" class="partner-list__icon-color">
											<img src="img/partner6-grey.png" alt="" class="partner-list__icon-grey">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
